/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET.CSS*/

.wrapper{
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}

header{
	height: 140px;
	background-color: #ebecee;
}

header .logo{
	
	margin-left: 3%;
}

header .logo img{
	margin-top: 70px;
}

header .menu ul{
	display: flex;
	justify-content: space-between;
	width: 340px;
}

header .menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: medium;
	color: #333333;
}

header .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}

header .logo, .menu, .btn{
	display: inline-block;
}

header .menu{
	margin-left: 62%;
	position: relative;
	top: -20px;
}

header .btn{
	margin-left: 3%;
	position: relative;
	top: -20px;
}

.container2{
	background-image: url('./img/background_top.png');
	height: calc(100vh - 140px);
	background-repeat: no-repeat;
	background-position-x: 100%;
	background-color: #ececec;
	background-size: contain;
}

.container2 .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 25px 100px;
	background-color: #ffffff;
	border-radius: 35px;
}

.container2 .btn{
	margin-top: 58px;
	padding-left: 65vh;
}

.container2 h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
	font-weight: 300;
	padding-top: 30vh;
	padding-left: 45vh;
}

.container3 h2{
	margin-top: 95px;
	color: #141311;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 25px;
}

.center{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container3 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	text-align: center;
	line-height: 24px;
	margin-bottom: 35px;
	margin-left: 1%;
	margin-right: 1%;
}

.container3 .cards{
	display: flex;
	justify-content: space-between;
}

.container3 .cards .item1 h3{
	font-size: 22px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	color: #414141;
	margin-top: 25px;
	margin-left: 35px;
}
.container3 .cards .item1{
	margin-right: 20px;
}

.container3 .cards .item1 .img1 .imgh{
	margin-top: -300px;
	overflow: hidden;
	margin-bottom: 80px;
	margin-left: 120px;
	opacity: 0%;
}

.container3 .cards .item1 .img1 .imgh:hover{
	opacity: 100%;
}

.container3 .cards .item1 p{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	color: #333333;
	line-height: 14px;
	padding-left: 35px;
	text-align: left;
	margin-top: 13px;
}

.container3 .cards .item2 h3{
	font-size: 22px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	color: #414141;
	margin-top: 25px;
	padding-left: 35px;
}

.container3 .cards .item2 p{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	color: #333333;
	line-height: 14px;
	margin-top: 13px;
	text-align: left;
	padding-left: 35px;
	padding-right: 45px;
}

.container3 .cards .item2 .img2 .imgh{
	margin-top: -300px;
	overflow: hidden;
	margin-bottom: 80px;
	margin-left: 120px;
	opacity: 0%;
}

.container3 .cards .item2 .img2 .imgh:hover{
	opacity: 100%;
}

.container3 .cards .item3 h3{
	font-size: 22px;
	font-weight: 300;
	font-family: 'Ubuntu', sans-serif;
	color: #414141;
	margin-top: 25px;
	margin-left: 35px;
}

.container3 .cards .item3 p{
	font-size: 14px;
	font-weight: 300;
	font-family: 'Nunito', sans-serif;
	color: #333333;
	line-height: 14px;
	margin-top: 13px;
	text-align: left;
	margin-left: 35px;
	padding-right: 45px;
}

.container3 .cards .item3 .img3 .imgh{
	margin-top: -300px;
	overflow: hidden;
	margin-bottom: 80px;
	margin-left: 120px;
	opacity: 0%;
}

.container3 .cards .item3 .img3 .imgh:hover{
	opacity: 100%;
}

.container6{
	background-image: url('./img/background6.png');
	width: 100%;
}

.container6 .center h2{
	font-family:'Ubuntu', sans-serif;
	font-size: 48px;
	color: #ffffff;
	font-weight: 300;
	padding-top: 245px;
	text-align: center;
}

.container6 .center .blocks{
	display: flex;
	justify-content: center;
	margin-top: 125px;
	text-align: center;
	padding-bottom: 140px;
}

.container6 .center .blocks .block1 .price1{
	color: #c89d28;
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 15px;
}

.container6 .center .blocks .block2 .price1{
	color: #c89d28;
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 15px;
}

.container6 .center .blocks .block3 .price1{
	color: #c89d28;
	font-size: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 15px;
}

.container6 .center .blocks .block1 h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
	margin-top: 35px;
}

.container6 .center .blocks .block2 h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
	margin-top: 35px;
}

.container6 .center .blocks .block3 h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
	margin-top: 35px;
}

.container6 .center .blocks .block1 .text{
	color: #999999;
	margin-top: 40px;
	white-space: pre-line;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.container6 .center .blocks .block2 .text{
	color: #999999;
	margin-top: 40px;
	white-space: pre-line;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.container6 .center .blocks .block3 .text{
	color: #999999;
	margin-top: 40px;
	white-space: pre-line;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

.container6 .center .blocks .block1 .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 25px 85px;
	background-color: #ffffff;
	border-radius: 35px;
}

.container6 .center .blocks .block1 .btn{
	margin-top: 70px;
}

.container6 .center .blocks .block2 .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}

.container6 .center .blocks .block2 .btn{
	margin-top: 70px;
}

.container6 .center .blocks .block3 .btn a{
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}

.container6 .center .blocks .block3 .btn{
	margin-top: 70px;
}

.container6 .center .blocks .block1{
	padding-top: 20px;
	margin-right: 85px;
}

.container6 .center .blocks .block2{
	padding-top: 20px;
	padding-bottom: 40px;
	padding-right: 85px;
	padding-left: 85px;
	border-left: #252525 solid;
	border-right: #252525 solid;
	border-width: 1px;
}

.container6 .center .blocks .block3{
	padding-top: 20px;
	margin-left: 85px;
}

.container6 .center .blocks .block1 .money, .container6 .center .blocks .block2 .money, .container6 .center .blocks .block3 .money{
	display: flex;
	justify-content: center;
}

.container6 .center .blocks .block1 .money span, .container6 .center .blocks .block2 .money span, .container6 .center .blocks .block3 .money span{
	color: #c89d28;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	padding-top: 15px;
	float: left;
	margin-top: 10px;
}
